body {
  background: lightblue;
}

h1 {
  font-family: monospace;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
